<!DOCTYPE html>
<html ng-app = "ContactApp">
  <head>
    <meta charset="utf-8">
    </br>
    <title> TODOs </title>
     <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <center>
      <h1><label for="Todos" style="color:#FF0033">TODOs</label></h1>
          <div ng-controller = "AddContactController">
            <div class="form-group">
              <input for="word"type="text" class="form-control" id="word" name="word" style="width:600px; height:40px" placeholder="What Is To Be Done ?"ng-model= "word"> </br>
              <button type="button" class="btn btn-success" ng-click="save()" >Submit</button>
            </div>
          </div>
          <div ng-controller="ListTodoController">
            <table class="table table-bordered" style="width:1000px; height:40px">
              <thead>
                <tr>
                  <th style="width:200px; height:20px"><center>Checkbox</center></th>
                  <th style="width:500px; height:20px"><center>Text</center></th>
                  <th style="width:300px; height:20px"><center>Status</center></th>
                </tr>
                <tbody>
                  <tr ng-repeat = "contact in contacts">
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </thead>
            </table>
          </div>

    </center>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/angular/angular.js" charset="utf-8"></script>
    <script src="app.js"></script>
  </body>
</html>
